.header {

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
    }

    &__links {
        display: flex;
        list-style: none;

        &__item {

            margin: 5px;
        }
    }
}